{% extends 'base.html' %}
{% block content %}
<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <img src="{{data.image.url}}" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">{{data.title}}</h1>
        <p class="py-6">{{data.description}}</p>
        <p>Borrowing Price: <b>{{data.borrowing_price}} $</b></p>
        {% if request.user.is_authenticated %}
        <form action="{% url 'borrow' data.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-neutral btn-outline my-5">Borrow</button>
        </form>
        {% else %}
        <div class="tooltip tooltip-bottom" data-tip="Please login to borrow this book">
          <button class="btn btn-neutral btn-disabled my-5">Borrow</button>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}