{% extends "base.html" %}
{% block content %}
<div>
    {% for dt in data %}
    <div class="card w-96 border mx-10">
        <div class="card-body">
            <p class="flex">
                Commented by 
                <h2 class="card-title">{{dt.user.username}}</h2>
            </p>
          <p>{{dt.description}}</p>
        </div>
      </div>
      {% endfor %}
</div>
    <div class="hero min-h-screen">
        <div class="hero-content flex-col">
          <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100 px-28 py-8">
            <form action="{% url 'post_review' id %}" method="post" class="card-body">
            {% csrf_token %}
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Review</span>
                </label>
                {{form.description}}
              </div>
              <div class="form-control mt-6">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
{% endblock %}